@import url(https://fonts.googleapis.com/css2?family=Montserrat&display=swap);



.footnote {
  font-size: 50%;
}

blockquote{
  font-style: italic
}

body { 
  font-family: 'Montserrat'
}

.yt-container {
position: relative;
width: 100%;
height: 0;
padding-bottom: 56.25%;
}
.video {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
}